html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: grid;
  grid-template-columns: 117px 1fr;
  grid-template-rows: fit-content(100%);
  grid-template-areas:
    "header header"
    "navbar main";
}

.header {
  grid-area: header;
}
.navBar {
  grid-area: navbar;
}
.profile {
  grid-area: main;
}
.home {
  grid-area: main;
}
