@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.header {
  & nav {
    & ul {
      & li {
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        color: white;
      }
    }
  }
}

.navBar {
  & p {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: white;
  }
}

.home {
  & a {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    color: black;
  }
}

.profile {
  &__block {
    &-title {
      & h1 {
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 24px;
      }
      & p {
        font-family: $main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
  &__name {
    color: $primary-color;
  }
}

.activity {
  &-chart {
    &__text {
      & p {
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: $fourth-color;
      }
    }
    &__legend {
      & p {
        font-size: 14px;
        color: $third-color;
      }
    }
    &__tooltip {
      &-text {
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 7px;
        line-height: 24px;
        color: white;
      }
    }
  }
}

.card {
  &__block {
    &-text {
      & p {
        font-family: $main-font;
        font-style: normal;
        line-height: 24px;
      }
    }
  }
  &__data {
    color: $secondary-color;
    font-weight: 700;
    font-size: 20px;
  }
  &__text {
    color: $third-color;
    font-weight: 500;
    font-size: 18px;
  }
}
