.profile {
  display: grid;
  grid-template-columns: fit-content(100%);
  grid-template-rows: fit-content(100%);
  grid-template-areas:
    "title title"
    "charts cards";
  background-color: white;
  padding: 0 5%;
  width: auto;
  &__loading {
    padding: 50px 0;
  }
  &__block {
    &-title {
      padding: 50px 0;
      grid-area: title;
      & h1 {
        margin: 0;
      }
      & p {
        margin: 40px 0 0 0;
      }
    }
    &-charts {
      grid-area: charts;
    }
    &-cards {
      grid-area: cards;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      max-height: 644px;
    }
  }
  &--block {
    &-bottom {
      &-chart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 845px;
        margin-top: 17px;
      }
    }
  }
}

@media (max-width: 1400px) {
  .profile {
    grid-template-areas:
      "title"
      "charts"
      "cards";
    &__block {
      &-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}
