.card {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 124px;
  width: 258px;
  border-radius: 5px;
  &__block {
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 25px;
      & p {
        margin: 0;
      }
    }
  }
}

@media (max-width: 1400px) {
  .card {
    margin: 30px 20px 0 0;
  }
}
